<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" name="Huay">
  <title>Boid Project</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="./vueStyle.css" >
  <link rel="stylesheet" href="./boidsStyle.css">
  <script src="js/vue-latest.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-normal input{
  color: var(--text-light) !important;
}
.v-text-field__slot > .v-label {
  color: #b7c0c6 !important;
}

#startStop {
  position: absolute;
  top: 200px;
}

</style>


<body>
  <script src="js/jquery.js"></script>
  <script src="js/webpd-latest.js"></script>
  <div id="startStop">
  <button id="startButton" onclick="pdstart()">Start patch</button>
  <button id="stopButton" onclick="pdstop()">Stop</button>
  </div>
  <script>
    let count = 200;
    let it = 0;
    let listening = 0;
    let marker = 50;
    // Now, when user clicks on button, Pd will start and sound should work even on iOS.
    var button = document.getElementById('startButton')
    Pd.startOnClick(button, function() {
      console.log('clicked!')
      listening = 1;
    })
    var patch = Pd.createPatch();
    let oscArr = new Array( count );
    let linArr = new Array( count );
    for (let i=0; i<count; i++){
      oscArr[i] = patch.createObject( 'osc~', [0]);
      linArr[i] = patch.createObject( 'line~' );
      linArr[i].o(0).connect( oscArr[i].i(0) );
    }
    let dac = patch.createObject( 'dac~');
    let sigAdd = patch.createObject( '+~' );
    let rec = 1/count;
    let volScale = patch.createObject( '*~', [rec]);
    let delwrite = patch.createObject( 'delwrite~', ['addAll',0]);
    let delread = patch.createObject( 'delread~', ['addAll',0]);
    let lowpass = patch.createObject( 'lop~', [4000] );
    let highpass = patch.createObject( 'hip~', [1] );

    function pdstart() {
      listening = 1;
    }
    function pdstop() {
      for (let i=0; i<count; i++){
        linArr[i].i(0).message([0]);
      }
      listening = 0;
    }
  </script>

  <script>
    let latticeSidelen = 40; // don't change this
    let slen = 400; // you can change this, but if it's too large, then threejs doesn't render boids that are too far away.
    let divisor = slen / latticeSidelen; // unit blocks

    let boids = [];
      boids.velocity = [];
      boids.accel = [];
      boids.goalPos = [];
      boids.octave = [];
      boids.partial = [];
    boids.eyesightDistance = divisor*10;
    boids.separationDistance = divisor/3;
    boids.cohesionDistance = slen*.4;
    boids.separationForce = 0.1;
    boids.cohesionForce = 0.15;
    boids.alignmentForce = 0.8;
    boids.accelerationLimitRoot = 1.5;
    boids.speedLimit = 2.5;
    boids.accelerationLimit = Math.pow(boids.accelerationLimitRoot, 2);

    let eyeDist  = boids.eyesightDistance;
    let sepForce = boids.separationForce;
    let cohForce = boids.cohesionForce;
    let aliForce = boids.alignmentForce;
    let sepDist  = eyeDist * 0.5
    let cohDist  = boids.cohesionDistance;
    let aliDist  = boids.alignmentDistance;

    // music fields.
    let searching = false;
    let pitchGoal = 0;
    let dist_opt = 1; // normal dist of octaves and partials
    let settings = [];
    settings.partialLow = 1;
    settings.partialHigh = 12;
    settings.octaveLow = 1;
    settings.octaveHigh = 4;
    settings.samplingRate = 2;

    // let count = 180;

    for(let i=0; i<count; i++){
      boids.octave.push( (assignDist( dist_opt, 1, 1 )) );
      boids.partial.push( Math.abs((assignDist( dist_opt, 1, 1 ))) );
    }

    function assignDist( distopt, scale, round ) {
      if (distopt) {
        return bmt( scale, round );
      } else {
        return Math.round(Math.random()*scale);
      }
    }
    function bmt( scale, round) {
      let z0 = Math.sqrt(-2*Math.log(Math.random()))*Math.cos(2*Math.PI*Math.random());
      return Math.round(z0*scale);
    }
  </script>

  <!-- Directly below loads all the boids and methods. It's important that this file is loaded after the above parameter fields. -->
  <script type="module" src="./boidsBehaviour.js"></script>

<!-- This is the small block at the top left that says what is the most common pitch playing -->
<div id = "modePitch">
       <h1>{{ message }}</h1>
    </div>
    <script type = "text/javascript">
       var vue_det = new Vue({
          el: '#modePitch',
          data: {
             message: 'NA'
          }
       });

     </script>

<!-- <div id = "pitchGoal">
  <h1>Searching...</h1>
</div> -->

 <!-- CONTROL PANEL -->
<div id="app">
  <script type="text/x-template" id="app-template">
  <v-app>
    <!-- sliders -->
    <v-container>
      <v-row no-gutters>
      <h2>Controls:</h2>
      </v-row>

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="4">
      <span title="The distance in which each boid considers contributions from other boids.">Eyesight Distance</span>
      </v-col>
      <v-col cols="12" md="8">
      <v-slider
        max="400"
        min="0"
        class="ma-0 pa-0"
        hide-details
        thumb-label
        @change="onChange($event, 1)"
        value = 30
      ></v-slider>
      </v-col>
      </v-row>

      <!-- Got 15 from slen/40 -->
      <v-row no-gutters>
      <v-col cols="12" sm="6" md="4">
      <span title="The strength which each boid swerves away from other boids that are too close.">Separation Force (1/100)</span>
      </v-col>
      <v-col cols="12" md="8">
      <v-slider
        max="100"
        min="0"
        class="ma-0 pa-0"
        hide-details
        thumb-label
        @change="onChange($event, 2)"
        value = 10
      ></v-slider>
      </v-col>
      </v-row>

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="4">
      <span title="The tendency of each boid to move to the flock's center of mass">Cohesion<br>Force (1/100)</span>
      </v-col>
      <v-col cols="12" md="8">
      <v-slider
        max="100"
        min="0"
        class="ma-0 pa-0"
        hide-details
        thumb-label
        @change="onChange($event, 3)"
        value = 45
      ></v-slider>
      </v-col>
      </v-row>

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="4">
      <span title="The desire of each boid to align flying directions with each other.">Alignment<br>Force (1/100)</span>
      </v-col>
      <v-col cols="12" md="8">
      <v-slider
        max="100"
        min="0"
        class="ma-0 pa-0"
        hide-details
        thumb-label
        @change="onChange($event, 4)"
        value = 80
      ></v-slider>
      </v-col>
      </v-row>


      <v-row no-gutters>
        <v-col cols="12" sm="6" md="1"></v-col>
        <v-col cols="12" sm="6" md="5">
          <v-text-field
          title="The max distance each boid can move per frame."
            v-model="speed_limit"
            label="Speed Limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="12"
            @change="onChange($event, 5)"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="1"></v-col>
        <v-col cols="12" sm="6" md="5">
          <v-text-field
            title="Essentially how fast pitch values are communicated to the audio api. Default is purposefully set high to avoid potential crashes. Lower at a moderately slow pace."
            v-model="sampling_rate"
            label="Sampling Rate"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="100"
            @change="onChange($event,6)"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <!-- empty row -->
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4">
          <span title="Volume, Intensity, Loudness">Volume</span>
        </v-col>
        <v-col cols="12" md="8">
        <v-slider
        v-model="volSlider.val"
        @change="volChange($event)"
        max = "100"
        min = "0"
        ></v-slider>
      </v-col>
    </v-row no-gutters>

      <v-row>
        <v-col cols="12" sm="6" md="4">
          <!-- <span>f = partial*(f0 * 2^octave)</span> -->
          <!-- <span v-if= volSlider.val==0>
            Nothing is playing
          </span>
          <span v-else>
            Volume: {{ volSlider.val }}
          </span> -->
        </v-col>
        <v-col cols="12" md="8" title="Each frequency heard is calculated by this function. Each boid possesses a specific partial and octave assignment, determined by the following fields and switches. F0 is the pitch value of the specific coordinate the boid is in. ">
          f = partial*(f0 * 2^octave)
      </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4" title="Refer to equation above. ">
          Partials:
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="partials_low"
            label="lower limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="12"
            @change=partialLowChange($event)
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="partials_high"
            label="upper limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="12"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4" title="Refer to equation above. ">
          Octave:
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="octaves_low"
            label="lower limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            max="4"
            min="0"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="octaves_high"
            label="upper limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            max="4"
            min="0"
            value="4"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="6">
          <span v-if="switch1" title="Bell Curve, used the Box-Muller Transform">
            Normal Distribution
          </span>
          <span v-else title="A distribution that uniformly takes points from specified domain. ">
            Uniform Distribution
          </span>
        <v-switch
        v-model="switch1"
        inset
        @change="distChange($event)"
        ></v-switch>
        </v-col>
        <v-col cols="12" sm="6" md="6">
          <span v-if="switch2" title="wip">
            Modulation wrt Distance
          </span>
          <span v-else title="wip">
            Manually set Modulation
          </span>
        <v-switch
        v-model="switch2"
        inset
        ></v-switch>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4" title="High and Low pass filters">
          Frequencies:
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            title ="Allows only frequencies higher than the specified here. aka high pass filter. "
            v-model="freq.low"
            label="lower limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="5000"
            @change="freqLim($event,1)"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            title="Allows only frequencies lower than the specified here. aka low pass filter. "
            v-model="freq.high"
            label="upper limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="10000"
            @change="freqLim($event,2)"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <span>Set Frequency Modulation:</span>
      </v-row>
      <v-row no-gutters>
      <v-col cols="12" sm="6" md="3" title="wip">
        <v-text-field
          v-model="setFM.val"
          value="setFM.val"
          max="100"
          color="white"
          class="text-normal"
          type="number"
          @change="fmChange($event)"
        >
        </v-text-field>
      </v-col>
        <v-col cols="12" sm="6" md="9" title="wip">
            <v-slider
              v-model="setFM.val"
              :max="setFM.max"
              :min="setFM.min"
              hide-details
              class="align-center"
              @change="fmChange($event)"
            >
            </v-slider>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <span>Set Phase Modulation:</span>
      </v-row>
      <v-row no-gutters>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="setPM.val"
          value="setPM.val"
          min="setPM.min"
          max="setPM.max"
          type="number"
          color="white"
          class="text-normal"
          @change="pmChange($event)"
        >
        </v-text-field>
      </v-col>
        <v-col cols="12" sm="6" md="9">
          <v-slider
            v-model="setPM.val"
            value="setPM.val"
            hide-details
            class="align-center"
            @change="pmChange($event)"
          >
          </v-slider>
        </v-col>
      </v-row>

    </v-container>
  </v-app>
  </script>
  <p> error text</p>
</div>

<!-- Vue & Vuetify instances -->
<script>
const App = {
  template: '#app-template',
  data: function() {
    return {
      switch1: true,
      switch2: true,
      speed_limit: 2.5,
      sampling_rate: 2,
      volSlider: { val: 0},
      filter: [
        '0',
        '220',
      ],
      partials_low: 1,
      partials_high: 12,
      octaves_low: 1,
      octaves_high: 4,
      freq: { low: 1, high: 3521},
      min: -50,
      max: 90,
      range: [-20, 70],
      setFM: { val: 0, min: 0, max: 500},
      setPM: { val: 0, min: 0, max: 500},
    }
  },
  methods: {
    onChange: function(value, ind) {
        // console.log(value);
        switch (ind) {
          case 1:
            eyeDist = value;
            break;
          case 2:
            sepForce = value/100;
            break;
          case 3:
            cohForce = value/100;
            break;
          case 4:
            aliForce = value/50;
            break;
          case 5:
            boids.speedLimit = value/2;
            break;
          case 6:
            marker = value;
            break;
          }
      },
    volChange: function(value){
      value = value/100;
      volScale.i(0).message( [value] );
    },
    distChange: function(value){
      dist_opt = (dist_opt+1) % 2;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 1 );
      shft = (settings.octaveHigh + settings.octaveLow)/2;
      width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 0 );
    },
    partialLowChange: function(value){
      settings.partialLow = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 1 );
    },
    partialHighChange: function(value){
      settings.partialHigh = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 1 );
    },
    octaveLowChange: function(value){
      settings.octaveLow = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 0 );
    },
    octaveHighChange: function(value){
      settings.octaveHigh = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 0 );
    },
    assignDist: function( distopt, round, mean, width ) {
      if (distopt) {
        if (round) {
          return Math.round((this.bmt()+mean)+width);
        } else {
          return (this.bmt()+mean)+width;
        }
      } else {
        if (round) {
          return Math.round((Math.random()+mean)*width);
        } else {
          return (Math.random()+mean)*width;
        }
      }
    },
    reAssignDist: function( distopt, mean, width, pUo ) {
      if (pUo == 0) {
        for (let i=0; i<count; i++){
          boids.partial[i] =  Math.abs(this.assignDist( distopt, 1, mean, width) );
        }
      } else {
        for (let i=0; i<count; i++){
          boids.octave[i] =  Math.abs(this.assignDist( distopt, 1, mean, width) );
        }
      }
    },
    bmt: function() { //maybe goofed something up, range is not from -1, to 1, but have confirmed it is a normal dist.
      return Math.sqrt(-2*Math.log(Math.random()))*Math.cos(2*Math.PI*Math.random());
    },
    freqLim: function( value, ind ) {
      if (ind == 1) { //lower limit
        highpass.i(0).message([value]);
      } else {
        low.i(0).message([value]);
      }
    },
    fmChange: function(value){
      // Pd.send( "freqModHz" , [parseFloat(value)] );
    },
    pmChange: function(value){
      // Pd.send( "phaseModHz" , [parseFloat(value)] );
    },
  }
}
new Vue({
  vuetify: new Vuetify({
    theme: {
      themes: {
        light: {
          nicetext: "#ccd6dc"
        }
      },
      options: {
        customProperties: true,
      }
    }
  }),
  data: () => ({
    vol: { class: "blue--text", color: "red" },
  }),
  render: h => h(App)
}).$mount('#app')
</script>

<!-- MORE INFORMATION OVERLAY : Explain what's going on here.  -->
<div id="over">
 <v-app id="inspire">
   <div class="text-center">
     <v-btn
       absolute left bottom
       small
       text
       color="primary"
       @click="overlay = !overlay"
     >
       More Information
     </v-btn>

     <v-overlay :value="overlay">
       <v-card
      class="mx-auto"
      width="80vw"
      elevation="8"
    >
      <v-card-title
        class="font-weight-thin">
        BOID MUSIC
      </v-card-title>

      <v-card-text
        class="text-left font-weight-thin"
        id="over-content"
      >
      <p>

        Less technical explanation: <br>
        // HOW SOUND IS MADE<br>
          This project was born out of the idea to use the bottom-up theory of music to create a new method of algorithmic composition.
          The The box has been generated by a MATLAB Sim.

        // SLIDERS EXPLANATION - NO MATH<br>
        Eyesight Distance - How far each boid can "see". <br><br>
        Separation Force - A multiplier to strengthen or weaken the desire to stay away from other boids.
          The "separation" of each boid refers to the inclination to avoid other boids.<br><br>
        Cohesion Force - A multiplier that determines how strongly boids gravitate towards the average position of boids. <br><br>
        Alignment Force - A multiplier for the alignment component of each boid.
          The "alignment" of each boid refers to the tendency of each boid to move in the same direction as other boids nearby (share the same velocity vector). <br><br>

        // SLIDERS EXPLANATION - WITH MATH<br>

        // BUTTONS


      </p>

      </v-card-text>

      <v-card-actions>
        <v-btn
         text
         color="primary"
         @click="overlay = false"
       >
         Close
       </v-btn>
      </v-card-actions>
    </v-card>
     </v-overlay>
   </div>
 </v-app>
</div>

<script>
var over = new Vue({
 el: '#over',
 vuetify: new Vuetify(),
 data: () => ({
   absolute: true,
   overlay: false,
 }),
})
</script>
</body>
</html>
