<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" name="Huay">
  <title>Boid Project</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="./vueStyle.css" >
  <link rel="stylesheet" href="./boidsStyle.css">
  <script src="js/vue-latest.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

</head>
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-normal input{
  color: var(--text-light) !important;
}
.v-text-field__slot > .v-label {
  color: #b7c0c6 !important;
}



</style>


<body>
  <script src="js/jquery.js"></script>
  <script src="js/webpd-latest.js"></script>
  <div id="startStop">
  <button id="startButton" onclick="pdstart()">Play</button>
  <button id="stopButton" onclick="pdstop()">Stop</button>
  </div>
  <script>
    let count = 120;
    let it = 0;
    let listening = 0;
    let tii = Date.now();
    let marker = 500;
    // Now, when user clicks on button, Pd will start and sound should work even on iOS.
    var button = document.getElementById('startButton')
    Pd.startOnClick(button, function() {
      console.log('clicked!')
      listening = 1;
    })
    var patch = Pd.createPatch();
    let oscArr = new Array( count );
    let linArr = new Array( count );
    for (let i=0; i<count; i++){
      oscArr[i] = patch.createObject( 'osc~', [0]);
      linArr[i] = patch.createObject( 'line~' );
      linArr[i].o(0).connect( oscArr[i].i(0) );
    }
    let dac = patch.createObject( 'dac~');
    let sigAdd = patch.createObject( '+~' );
    let rec = 1/count;
    let volScale = patch.createObject( '*~', [rec]);
    let delwrite = patch.createObject( 'delwrite~', ['addAll',0]);
    let delread = patch.createObject( 'delread~', ['addAll',0]);
    let lowpass = patch.createObject( 'lop~', [4000] );
    let highpass = patch.createObject( 'hip~', [1] );
    let clip = patch.createObject( 'clip~', [-1,1]);
    let volLine = patch.createObject( 'line~');
    // volLine.i(0).message( [rec] );
    // volLine.o(0).connect(volScale.i(1));

    // modulation
    let modOsc = patch.createObject( 'osc~' );
    let multOsc = patch.createObject( '*~' );
    let addObj = patch.createObject( '+~' ); //this plus delread , send to volScale.
    let modOscLine = patch.createObject( 'line~' );
    let multOscLine = patch.createObject( 'line~' );

    delread.o(0).connect( addObj.i(0));
    addObj.o(0).connect( volScale.i(0) );
    volScale.o(0).connect( lowpass.i(0));
    lowpass.o(0).connect( highpass.i(0));
    highpass.o(0).connect( clip.i(0) );
    clip.o(0).connect(dac.i(0));
    clip.o(0).connect(dac.i(1));

    //connect inside modulation addition
    // http://write.flossmanuals.net/pure-data/frequency-modulation/
    // modOsc.i(0).message( [1000] ) // Send frequency of [osc~] to 330Hz
    modOscLine.o(0).connect( modOsc.i(0) );
    multOscLine.o(0).connect( multOsc.i(1) );
    modOsc.o(0).connect( multOsc.i(0) );

    // multOsc.i(1).message( [2000] ); // Send modulation amount in Hz
    // multOsc.o(0).connect( addObj.i(1) );



    function pdstart() {
      listening = 1;
    }
    function pdstop() {
      for (let i=0; i<count; i++){
        linArr[i].i(0).message([0]);
      }
      listening = 0;
    }
  </script>
  <script>
    let latticeSidelen = 40; // don't change this
    let slen = 400; // you can change this, but if it's too large, then threejs doesn't render boids that are too far away.
    let divisor = slen / latticeSidelen; // unit blocks

    let boids = [];
      boids.velocity = [];
      boids.accel = [];
      boids.goalPos = [];
      boids.octave = [];
      boids.partial = [];
    boids.eyesightDistance = divisor*10;
    boids.separationDistance = divisor/3;
    boids.cohesionDistance = slen*.4;
    boids.separationForce = 0.1;
    boids.cohesionForce = 0.01;
    boids.alignmentForce = 0.8;
    boids.accelerationLimit = 3;
    boids.speedLimit = 12;
    boids.mass = 10;

    let eyeDist  = boids.eyesightDistance;
    let sepForce = boids.separationForce;
    let cohForce = boids.cohesionForce;
    let aliForce = boids.alignmentForce;
    let sepDist  = eyeDist * 0.5
    let cohDist  = boids.cohesionDistance;
    let aliDist  = boids.alignmentDistance;

    // music fields.
    let searching = false;
    let pitchGoal = 0;
    let dist_opt = 1; // normal dist of octaves and partials
    let settings = [];
    settings.partialLow = 1;
    settings.partialHigh = 12;
    settings.octaveLow = 1;
    settings.octaveHigh = 4;
    settings.samplingRate = 2;
    settings.fileVer = 1;
    settings.updateRate = 60;
    let fileVer = settings.fileVer;
    let updateRate = settings.updateRate;

    let latticePitchContents = [];
    let latticePitchIntegerContents = new Array( 64000 );
      let parts = []; //parts and points are helper fields to load the files.
      let points = [];
    let finLoading = false;

    // let count = 180;

    for(let i=0; i<count; i++){
      boids.octave.push( (assignDist( dist_opt, 1, 1 )) );
      boids.partial.push( Math.abs((assignDist( dist_opt, 1, 1 ))) );
    }

    function assignDist( distopt, scale, round ) {
      if (distopt) {
        return bmt( scale, round );
      } else {
        return Math.round(Math.random()*scale);
      }
    }
    function bmt( scale, round) {
      let z0 = Math.sqrt(-2*Math.log(Math.random()))*Math.cos(2*Math.PI*Math.random());
      return Math.round(z0*scale);
    }
  </script>
  <script src="loadFiles.js"></script>

  <button id="resetCamera">Reset Camera</button>
<!-- This is the small block at the top left that says what is the most common pitch playing -->
  <div id = "modePitch">
       <h1>{{ message }}</h1>
    </div>
    <script type = "text/javascript">
       var vue_det = new Vue({
          el: '#modePitch',
          data: {
             message: 'NA'
          }
       });

     </script>

 <!-- CONTROL PANEL -->
<div id="app">
  <script type="text/x-template" id="app-template">
  <v-app>

    <v-overlay :value="overlay">
      <v-card
        class="mx-auto"
        width="80vw"
        elevation="8"
      >
      <v-card-title class="font-weight-thin"> BOID MUSIC PROGRAM - Set Initial Parameters </v-card-title>
      <v-card-text>
        <v-container>
        <v-row>
          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="boidMass.val"
              label="Boid Mass"
              type="number"
              :rules="numberRule"
              @change="onChange($event, 7,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="eye_dist.val"
              label="Eyesight Distance"
              type="number"
              :rules="numberRule"
              @change="onChange($event, 1,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="sep_force.val"
              label="Separation Force"
              type="number"
              :rules="numberRule"
              @change="onChange($event, 2,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="coh_force.val"
              label="Cohesion Force"
              type="number"
              :rules="numberRule"
              @change="onChange($event, 3,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="ali_force.val"
              label="Alignment Force"
              type="number"
              :rules="numberRule"
              @change="onChange($event, 4,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="accel_limit"
              label="Acceleration Limit"
              type="number"
              :rules="numberRule"
              @change="onChange($event, 8,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="speed_limit"
              label="Speed Limit"
              type="number"
              :rules="numberRule"
              @change="onChange($event, 5,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="sampling_rate"
              label="Sampling Rate"
              type="number"
              :rules="numberRule"
              @change="onChange($event,6,1)"
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="4"
          >
            <v-text-field
              v-model="frame_rate"
              label="Frame Rate"
              type="number"
              :rules="numberRule"
              @change="onChange($event,9,1)"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
      </v-card-text>
        <v-card-actions>
          <v-btn
           text
           color="primary"
           @click="loadBoidsCall()"
           >
           Set
         </v-btn>
        </v-card-actions>
      </v-card>
    </v-overlay>

    <!-- sliders -->
    <v-container>
      <v-row no-gutters>
      <h2 title="You can hover over most text, or text fields to read extra instructions. To type extremely large or small numbers, use e notation. ex. 10^6 = 10e6, or 10^-6 = 10e-6"
      >Controls:</h2>
      </v-row>

      <!-- <v-row no-gutters>
      <v-col cols="12" sm="6" md="4">
      <span title="Total number of Boids">Count</span>
      </v-col>
      <v-col cols="12" md="8">
      <v-slider
        max="300"
        min="0"
        class="ma-0 pa-0"
        hide-details
        thumb-label
        @change="onChange($event, 0)"
        value = 200
      ></v-slider>
      </v-col>
      </v-row> -->

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="boidMass.val"
          value="boidMass.val"
          label="Mass"
          min="0"
          type="number"
          color="rgba(204, 214, 220, 1)"
          class="text-normal"
          title="Scales all force components"
          @change="onChange($event, 7,1)"
        >
        </v-text-field>
      </v-col>
        <v-col cols="12" sm="6" md="9">
          <v-slider
            v-model="boidMassSlider.val"
            value="boidMassSlider.val"
            min="0"
            hide-details
            class="align-center"
            @change="onChange($event, 7,2)"
          >
          </v-slider>
        </v-col>
      </v-row>

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="eye_dist.val"
          value="eye_dist.val"
          label="FoV Dist."
          title="The distance in which each boid considers contributions from other boids. Field of View"
          min="0"
          max="400"
          type="number"
          color="rgba(204, 214, 220, 1)"
          class="text-normal"
          @change="onChange($event, 1,1)"
        >
        </v-text-field>
      </v-col>
        <v-col cols="12" sm="6" md="9">
          <v-slider
            value="30"
            min="0"
            max="400"
            hide-details
            class="align-center"
            @change="onChange($event, 1,2)"
          >
          </v-slider>
        </v-col>
      </v-row>

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="sep_force.val"
          value="sep_force.val"
          label="Sep. Force"
          title="Separation Force (1/100 scale): The strength which each boid swerves away from other boids that are too close."
          min="0"
          type="number"
          color="rgba(204, 214, 220, 1)"
          class="text-normal"
          @change="onChange($event, 2,1)"
        >
        </v-text-field>
      </v-col>
        <v-col cols="12" sm="6" md="9">
          <v-slider
            v-model="sep_forceSlider.val"
            value="sep_forceSlider.val"
            min="0"
            hide-details
            class="align-center"
            @change="onChange($event, 2,2)"
          >
          </v-slider>
        </v-col>
      </v-row>

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="coh_force.val"
          value="coh_force.val"
          label="Coh. Force"
          title="Cohesion Force (1/1000 scale): The tendency of each boid to move to the flock's center of mass"
          min="0"
          type="number"
          color="rgba(204, 214, 220, 1)"
          class="text-normal"
          @change="onChange($event, 3,1)"
        >
        </v-text-field>
      </v-col>
        <v-col cols="12" sm="6" md="9">
          <v-slider
            v-model="coh_forceSlider.val"
            value="coh_forceSlider.val"
            min="0"
            hide-details
            class="align-center"
            @change="onChange($event, 3,2)"
          >
          </v-slider>
        </v-col>
      </v-row>

      <v-row no-gutters>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="ali_force.val"
          value="ali_force.val"
          label="Ali. Force"
          title="Alignment Force (1/100 scale): The desire of each boid to align flying directions with each other."
          min="0"
          type="number"
          color="rgba(204, 214, 220, 1)"
          class="text-normal"
          @change="onChange($event, 4,1)"
        >
        </v-text-field>
      </v-col>
        <v-col cols="12" sm="6" md="9">
          <v-slider
            v-model="ali_forceSlider.val"
            value="ali_forceSlider.val"
            min="0"
            hide-details
            class="align-center"
            @change="onChange($event, 4,2)"
          >
          </v-slider>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <!-- <v-col cols="12" sm="6" md="1"></v-col> -->
        <v-col cols="12" sm="6" md="3">
          <v-text-field
          title="The max distance each boid can move per frame."
            v-model="accel_limit"
            label="Accel. Limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            @change="onChange($event, 8,1)"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
          title="The max distance each boid can move per frame."
            v-model="speed_limit"
            label="Speed Limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            @change="onChange($event, 5,1)"
          ></v-text-field>
        </v-col>
        <!-- <v-col cols="12" sm="6" md="1"></v-col> -->
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            title="Essentially how fast pitch values are communicated to the audio api (calls/sec). Default is purposefully set high to avoid potential crashes. Lower at a moderately slow pace. Ideally it would be set to 60"
            v-model="sampling_rate"
            label="Sampling Rate "
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            @change="onChange($event,6,1)"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            title="Normally you want 60 frame per second"
            v-model="frame_rate"
            label="Frame Rate"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            @change="onChange($event,9,1)"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <!-- empty row -->
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4">
          <span title="Volume, Intensity, Loudness">Volume</span>
        </v-col>
        <v-col cols="12" md="8">
        <v-slider
        v-model="volSlider.val"
        @change="volChange($event)"
        max = "100"
        min = "0"
        ></v-slider>
      </v-col>
    </v-row no-gutters>

      <v-row>
        <v-col cols="12" sm="6" md="3">
          <!-- <span>f = partial*(f0 * 2^octave)</span> -->
          <!-- <span v-if= volSlider.val==0>
            Nothing is playing
          </span>
          <span v-else>
            Volume: {{ volSlider.val }}
          </span> -->
        </v-col>
        <v-col cols="12" md="9" title="Each frequency heard is calculated by this function. Each boid possesses a specific partial and octave assignment, determined by the following fields and switches. F0 is the pitch value of the specific coordinate the boid is in. ">
          f = partial*(f0 * 2^octave)
      </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4" title="Refer to equation above. ">
          Partials:
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="partials_low"
            label="lower limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="12"
            @change=partialLowChange($event)
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="partials_high"
            label="upper limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="12"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4" title="Refer to equation above. ">
          Octave:
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="octaves_low"
            label="lower limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            max="4"
            min="0"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            v-model="octaves_high"
            label="upper limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            max="4"
            min="0"
            value="4"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="6">
          <span v-if="switch1" title="Bell Curve, used the Box-Muller Transform">
            Normal Distribution
          </span>
          <span v-else title="A distribution that uniformly takes points from specified domain. ">
            Uniform Distribution
          </span>
        <v-switch
        v-model="switch1"
        inset
        @change="distChange($event)"
        ></v-switch>
        </v-col>
        <v-col cols="12" sm="6" md="6">
          <span v-if="switch2" title="wip">
            Modulation wrt Distance
          </span>
          <span v-else title="wip">
            Manually set Modulation
          </span>
        <v-switch
        v-model="switch2"
        inset
        ></v-switch>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="4" title="High and Low pass filters">
          Frequencies:
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            title ="Allows only frequencies higher than the specified here. aka high pass filter. "
            v-model="freq.low"
            label="lower limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="5000"
            @change="freqLim($event,1)"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-text-field
            title="Allows only frequencies lower than the specified here. aka low pass filter. "
            v-model="freq.high"
            label="upper limit"
            type="number"
            color="rgba(204, 214, 220, 1)"
            class="text-normal"
            min="0"
            max="10000"
            @change="freqLim($event,2)"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="8" title="wip">
          <span> Set Modulation Frequency in Hz:</span>
        </v-col>
      <v-col cols="12" sm="6" md="3" title="wip">
        <v-text-field
          v-model="modfreq.val"
          value="modfreq.val"
          label="Freq. Mod"
          max="100"
          color="white"
          class="text-normal"
          type="number"
          @change="fmChange($event, 1)"
        >
        </v-text-field>
      </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" sm="6" md="8" title="wip">
            <span>Set Modulation Amount in Hz:</span>
        </v-col>
        <v-col cols="12" sm="6" md="3" title="wip">
          <v-text-field
          v-model="modAmon.val"
          value="modAmon.val"
          label="Mod. Amount"
          max="100"
          color="white"
          class="text-normal"
          type="number"
          @change="fmChange($event, 2)"
          >
        </v-text-field>
      </v-col>
      </v-row>

      <v-row no-gutters align="center" justify="center">
        <div class="text-center">
          Lattice file {{ toggle_exclusive }} is open
          <v-btn-toggle v-model="toggle_exclusive" mandatory group borderless
            @change="loadFile($event)">
          <v-btn class="mx-3" fab dark small :value="1" title="Load lattice file 1"> I </v-btn>
          <v-btn class="mx-3" fab dark small :value="2" title="Load lattice file 2"> II </v-btn>
          <v-btn class="mx-3" fab dark small :value="3" title="Load lattice file 3"> III </v-btn>
          </v-btn-toggle>
        </div>
      </v-row>

      <v-row no-gutters>
      </v-row>

    </v-container>
  </v-app>
  </script>
  <p>if you see this, something has gone wrong. Switching your browser might work</p>
</div>
<div id="filler"> here here here</div>

<!-- Vue & Vuetify instances -->
<script>
const App = {
  template: '#app-template',
  data: function() {
    return {
      absolute: true,
      overlay: true,
      numberRule: [
      v => !!v || 'Number is Required',
      ],
      switch1: true,
      switch2: true,
      accel_limit: 3,
      speed_limit: 12,
      sampling_rate: 2,
      volSlider: { val: 0},
      filter: [
        '0',
        '220',
      ],
      partials_low: 1,
      partials_high: 12,
      octaves_low: 1,
      octaves_high: 4,
      freq: { low: 1, high: 3521},
      min: -50,
      max: 90,
      range: [-20, 70],
      boidMass: { val: 10 },
        boidMassSlider: {val: 10},
      eye_dist: { val: 30},
      sep_force: {val: 10},
        sep_forceSlider: {val: 10},
      coh_force: {val: 1},
        coh_forceSlider: {val: 1},
      ali_force: {val: 80},
        ali_forceSlider: {val: 80},
      modfreq: {val: 0},
      modAmon: {val: 0},
      toggle_exclusive: 1,
      frame_rate: 60,
    }
  },
  methods: {
    loadBoidsCall: function(){
      let js = document.createElement("script");
      js.type = "module";
      js.src = "./boidsBehaviour.js";
      document.body.appendChild(js);
      this.overlay = false;
      let bg = document.querySelector('#filler');
      bg.style.display='none';
    },
    onChange: function(value, ind, opt) {
        switch (ind) {
          case 0:
            count = value;
            break;
          case 1:
            eyeDist = value;
            this.eye_dist.val = value;
            break;
          case 2:
            sepForce = value;
            if (opt==1){ //text field changed
              if (value < 1){
                this.sep_forceSlider.val = 0;
              } else if (value > 100){
                this.sep_forceSlider.val = 100;

              } else {
                this.sep_forceSlider.val = value;
              }

            } else {
              this.sep_force.val = value;
            }
            break;
          case 3:
            cohForce = value;
            if (opt==1){ //text field changed
              if (value < 1){
                this.coh_forceSlider.val = 0;
              } else if (value > 100){
                this.coh_forceSlider.val = 100;

              } else {
                this.coh_forceSlider.val = value;
              }

            } else {
              this.coh_force.val = value;
            }
            break;
          case 4:
            aliForce = value;
            if (opt==1){ //text field changed
              if (value < 1){
                this.ali_forceSlider.val = 0;
              } else if (value > 100){
                this.ali_forceSlider.val = 100;

              } else {
                this.ali_forceSlider.val = value;
              }

            } else {
              this.ali_force.val = value;
            }
            break;
          case 5:
            boids.speedLimit = value;
            break;
          case 6:
            marker = 1000/value;
            break;
          case 7:
            boids.mass = value;
            if (opt==1){ //text field changed
              if (value < 1){
                this.boidMassSlider.val = 0;
              } else if (value > 100){
                this.boidMassSlider.val = 100;

              } else {
                this.boidMassSlider.val = value;
              }

            } else {
              this.boidMass.val = value;
            }
            break;
          case 8:
            boids.accelerationLimit = value;
            break;
          case 9:
            updateRate = value;
            break;
          }
      },
    setNewValue( ind, value ){
      switch(ind){
        case 7: //mass
        this.boidMass = value;
      }
    },
    volChange: function(value){
      value = value/500;
      // volLine.i(0).message( [value] );
      volScale.i(1).message( [value] );
    },
    distChange: function(value){
      dist_opt = (dist_opt+1) % 2;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 1 );
      shft = (settings.octaveHigh + settings.octaveLow)/2;
      width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 0 );
    },
    partialLowChange: function(value){
      settings.partialLow = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 1 );
    },
    partialHighChange: function(value){
      settings.partialHigh = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 1 );
    },
    octaveLowChange: function(value){
      settings.octaveLow = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 0 );
    },
    octaveHighChange: function(value){
      settings.octaveHigh = value;
      let shft = (settings.octaveHigh + settings.octaveLow)/2;
      let width = (settings.octaveHigh - settings.octaveLow)/2;
      this.reAssignDist( dist_opt, shft, width, 0 );
    },
    assignDist: function( distopt, round, mean, width ) {
      if (distopt) {
        if (round) {
          return Math.round((this.bmt()+mean)+width);
        } else {
          return (this.bmt()+mean)+width;
        }
      } else {
        if (round) {
          return Math.round((Math.random()+mean)*width);
        } else {
          return (Math.random()+mean)*width;
        }
      }
    },
    reAssignDist: function( distopt, mean, width, pUo ) {
      if (pUo == 0) {
        for (let i=0; i<count; i++){
          boids.partial[i] =  Math.abs(this.assignDist( distopt, 1, mean, width) );
        }
      } else {
        for (let i=0; i<count; i++){
          boids.octave[i] =  Math.abs(this.assignDist( distopt, 1, mean, width) );
        }
      }
    },
    bmt: function() { //maybe goofed something up, range is not from -1, to 1, but have confirmed it is a normal dist.
      return Math.sqrt(-2*Math.log(Math.random()))*Math.cos(2*Math.PI*Math.random());
    },
    freqLim: function( value, ind ) {
      if (ind == 1) { //lower limit
        highpass.i(0).message([value]);
      } else {
        low.i(0).message([value]);
      }
    },
    fmChange: function(value, opt){

      if (opt == 1){
        modOscLine.i(0).message( [value] );
        multOscLine.i(0).message( [this.modAmon.val] ); // Send modulation amount in Hz
        multOsc.o(0).connect( addObj.i(1) );

      } else {
        modOscLine.i(0).message( [this.modfreq.val] );
        multOscLine.i(0).message( [value] ); // Send modulation amount in Hz
        multOsc.o(0).connect( addObj.i(1) );
      }
      if ((value == 0) || (this.modAmon.val == 0) || (this.modfreq.val == 0)){
        multOsc.o(0).disconnect( addObj.i(1) );
      }
    },
    pmChange: function(value){
      // Pd.send( "phaseModHz" , [parseFloat(value)] );
    },
    loadFile: function( value ){
      fileVer = value;
    }
  }
}
new Vue({
  vuetify: new Vuetify({
    theme: {
      themes: {
        light: {
          nicetext: "#ccd6dc",
        }
      },
      options: {
        customProperties: true,
      }
    }
  }),
  data: () => ({
    vol: { class: "blue--text", color: "red" },
  }),
  render: h => h(App)
}).$mount('#app')
</script>

<!-- MORE INFORMATION OVERLAY : Explain what's going on here.  -->
<div id="over">
 <v-app id="inspire">
   <div class="text-center">
     <v-btn
       absolute left bottom
       small
       text
       color="primary"
       @click="overlay = !overlay"
     >
       More Information
     </v-btn>

     <v-overlay :value="overlay">
       <v-card
      class="mx-auto"
      width="80vw"
      elevation="8"
    >
      <v-card-title
        class="font-weight-thin">
        BOID MUSIC
      </v-card-title>

      <v-card-text
        class="text-left font-weight-thin"
        id="over-content"
      >
      <p>
        This project was born out of the idea to use the bottom-up theory of music to create a new method of algorithmic composition. We assigned to each position a specific pitch, where each pitch was obtained from
        the results of our numerical simulations. As the boids travel through the domain, we reobtain the pitch values, and that is what is played. Visually, the colors represent a particular pitch index from 0 to 11 (A twelve note system).
        The pitch indices relate to each other in the traditional western sense. For example, 0 to 4 is a major third and 1 to 5 is also a major third ()
        <br>
        Descriptions of each control field can be seen by hovering over either the text, or text field area.

      </p>

      </v-card-text>

      <v-card-actions>
        <v-btn
         text
         color="primary"
         @click="overlay = false"
       >
         Close
       </v-btn>
      </v-card-actions>
    </v-card>
     </v-overlay>
   </div>
 </v-app>
</div>

<!-- 11 colors -->
<div id="colorbar">
  <!-- <svg width="100%" height="auto" preserveAspectRatio="xMidYMin"> -->
    <img src="colorbar.svg"/>
  <!-- </svg> -->
</div>

<script>
var over = new Vue({
 el: '#over',
 vuetify: new Vuetify(),
 data: () => ({
   absolute: true,
   overlay: false,
 }),
})
</script>
</body>
</html>
