:root {
  /* Color Pallete */
  --main-color: #FAF0E6;
  --text-color: #9DA69B;
  --text-color2: #2A3835;
  --accent-color: #89968C;
  --accent-color2: #273226;
  --accent-color3: #8D958F;
}

body {
  background-color: var(--main-color);
  padding: 5px;
  /* overflow-y: hidden; */
}

#controls {
  text-align: center;
  /* background: red;  */
}

#drawing {
  position: relative;
  top: 10vh;
  padding: 20px;
  /* background-color: green; */
  /* max-width: 100vw; */
}

div.sideScroll{
  overflow-y: hidden;
  overflow-x: auto;
}

svg {
  /* position: absolute; */
  display: inline-block;
  height: 100px;
  width: 20px;
  transform: scale(3);
}
